In [22]:
import pandas as pd

In [27]:
data=pd.read_csv('kmeans.csv')

In [28]:
data

    srno  height  weight
0      1     185      72
1      2     170      56
2      3     168      60
3      4     179      68
4      5     182      72
5      6     188      77
6      7     180      71
7      8     180      70
8      9     183      84
9     10     180      84
10    11     168      90

In [30]:
data.describe()

            srno      height     weight
count  11.000000   11.000000  11.000000
mean    6.000000  178.454545  73.090909
std     3.316625    6.817091  10.222079
min     1.000000  168.000000  56.000000
25%     3.500000  174.500000  69.000000
50%     6.000000  180.000000  72.000000
75%     8.500000  182.500000  80.500000
max    11.000000  188.000000  90.000000

In [32]:
X=data.drop(['srno'],axis=1)

In [33]:
X

    height  weight
0      185      72
1      170      56
2      168      60
3      179      68
4      182      72
5      188      77
6      180      71
7      180      70
8      183      84
9      180      84
10     168      90

In [36]:
from sklearn.cluster import KMeans
kmeans=KMeans(n_clusters=2)
ypred=kmeans.fit_predict(X)
ypred=kmeans.predict(X)

C:\Users\MGIT\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\MGIT\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [37]:
ypred

array([1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1])

In [42]:
#currency
n=int(input())
n1=n//500
a=n%500
n2=a//200
b=a%200
n3=b//100
c=b%100
n4=c//50
d=c%50
n5=d//20
e=d%20
print(n1+n2+n3+n4+n5)

 1220

4